<md-bottom-sheet class="md-grid" layout="column">
    <div ng-cloak>
        <md-list flex layout="row" layout-align="center center">
            <md-list-item ng-repeat="item in items">
                <div>
                    <md-button class="md-grid-item-content" ng-click="item.use(ev)">
                        <md-icon><i class="material-icons">{{item.icon}}</i></md-icon>
                        <div class="md-grid-text"> {{ item.name }} </div>
                    </md-button>
                </div>
            </md-list-item>
                <div hide-md hide-lg>
                    <form name="searchUserFormBottom">
                        <md-autocomplete flex
                                         md-require-match="true"
                                         md-select-on-match = "true"
                                         md-selected-item="selectedItem"
                                         md-selected-item-change="goToProfile(item._id)"
                                         md-search-text="searchText"
                                         md-items="item in querySearch(searchText)"
                                         md-item-text="item.username"
                                         md-delay="100"
                                         placeholder="Search users">
                            <div layout="row" layout-align="start center">
                                <img ng-src="{{item.profileImageRaw}}" class="avatar"/>

                                <span md-highlight-text="searchText">{{item.username}}</span>
                            </div>
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.username}}</span>
                            </md-item-template>
                            <md-not-found>
                                No users matching "{{searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </form>
                </div>
        </md-list>
    </div>
</md-bottom-sheet>