.txt-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

/*======================================
                 NAVBAR
======================================*/
.md-nav-bar {
    height: 50px;
}

.logo {
    width: 30px;
    margin: .25em;
}

.brand {
    padding-top: 0;
}

.brand-title {
    font-family: 'Raleway', cursive;
    font-size: 1.3em;
    color: #7F7F7F;
}

.md-nav-bar .md-button {
    min-width: 50px !important;
    width: 50px;
}

.md-button._md-nav-button {
    padding: 15px 10px 5px 10px !important;
}

/*======================================
             Signup/Login
======================================*/

.username,
.landing-title {
    font-family: 'Raleway', cursive;
    font-size: 1.8em;
}

md-input-container {
    margin: .5em;
}

/*======================================
             Profile
======================================*/


#profile {
    background-color: #f7f7f7;
}

.thumb,
.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.profile-picture {
    height: 85px;
    width: 85px;
}

.thumb {
    height: 90px;
    width: 90px;
}

.username {
    margin-top: .5em;
    margin-bottom: .5em;
}