.txt-center {
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
}

* {
    outline: none !important;
}

/*======================================
                 NAVBAR
======================================*/
.md-nav-bar {
    height: 50px;
}

.logo {
    width: 30px;
    margin: .25em;
}

.brand {
    padding-top: 0;
}

.brand-title {
    font-family: 'Raleway', cursive;
    font-size: 1.3em;
}

.brand-title a {
    color: #7F7F7F !important;
}

.md-nav-bar .md-button {
    min-width: 50px !important;
    width: 50px;
}

.md-button._md-nav-button {
    padding: 15px 10px 5px 10px !important;
}

.search-friends {
    padding-top: .325em;
}

md-autocomplete input:not(.md-input) {
    min-width: 250px !important;
    max-width: 250px !important;
}

/*======================================
             Signup/Login
======================================*/

.username,
.landing-title {
    font-family: 'Raleway', cursive;
    font-size: 1.8em;
}

md-input-container {
    margin: .5em;
}

/*======================================
             Profile
======================================*/

#profile {
    background-color: #f7f7f7;
}

.thumb,
.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.profile-picture {
    height: 85px;
    width: 85px;
}

.username {
    margin: 0 !important;
}

.sub {
    padding-top: .5em;
    padding-right: .4em;
    text-align: center;
    font-size: .85em;
}

.hub {
    max-height: 150px;
}

.hub-info {
    max-height: 120px;
}

.sub:nth-of-type(1n + 2) {
    padding-left: .4em;
}

.thumb {
    height: 90px;
    width: 90px;
}

.username {
    margin-top: .5em;
    margin-bottom: .5em;
}

.md-title {
    cursor: default;
}

/*======================================
               Main/Posts
======================================*/
.menu-bar-container {
    position: fixed;
    bottom: 25px;
    right: 0;
    margin: auto;
}

.menu-bar-container .md-button {
    float: right;
    height: 50px;
}

.menu-bar-container md-icon > i {
    font-size: 40px;
    margin-left: -7px;
    margin-top: -7px;
    color: white;
}

.menu-bar-container md-toolbar md-icon .material-icons {
    font-size: 30px;
}

.md-button.md-icon-button {
    height: 50px;
    width: 50px;
    padding: 4px;
}

.post-preview {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.profile-post img {
    width: 100%;
    height: 100%;
    max-height: 100px;
    height: 100px;
    border: 1px solid white;
    object-fit: cover;
}

.profile-post {
    min-height: 100px;
    height: 100px;
}

.user-thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom 75%;
}

.chat,
.add-comment {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    text-align: left;
    resize: none;
}

.chat {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0 0 .25em .25em;
}

.conversation,
.contact-item {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

md-card-header {
    padding-top: .225em !important;
}

md-card-header-text {
    padding-top: .85em;
}

.md-title {
    padding-top: .3em;
}

.md-subhead {
    text-align: right;
    font-size: .75em !important;
}

.md-card-image {
    max-height: 300px;
    object-fit: cover;
    object-position: top 75%;
}

md-autocomplete input {
    text-align: center;
}

md-card {
    max-width: 450px !important;
    margin: 1em auto;
}

.main md-card-content {
    padding: 0 1em .5em 1em !important;
}

.liked {
    color: red;
}

.liked-transparent {
    color: rgba(255, 0, 0, .7);
}

.like,
.load,
.comment {
    font-size: .8em;
    margin-bottom: .225em;
}

.like {
    color: #666;
    font-style: bold;
}

.single-post .like {
    margin: 1em;
}

.main .like {
    margin-left: -20px;
}

.load {
    cursor: default;
    color: #bbb;
    font-style: bold;
}

.profile-post,
.main md-card {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.overlay .likes,
.overlay i {
    color: rgba(255, 255, 255, .7);
}

.overlay i {
    font-size: 1.5em;
}

.overlay .likes {
    font-size: 1.1em;
    margin-left: .2em;
}

.main .heart-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto auto;
    text-align: center;
    font-size: 5em;
}

.md-contact-suggestion img {
    width: 40px !important;
    height: 40px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50% !important;
}

/*======================================
                 MESSAGES
======================================*/

.chip {
    width: 220px;
    min-height: 30px !important;
    height: 51.5px !important;
    background: #ddd;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.chip .user-thumb {
    margin-left: -17px;
}

.chip span {
    margin-left: 1em;
}

.chip i {
    margin-top: .2em;
    cursor: pointer;
}

.messages {
    height: 60vh;
    overflow: scroll;
}

/*======================================
                 MQS
======================================*/

@media (min-width: 968px) {
    .menu-bar-container {
        top: 50px;
        bottom: auto;
        right: 250px;
    }

    .post-preview {
        width: 300px;
        height: 200px;
        object-fit: contain;
    }

    .profile-post img {
        height: 200px;
        max-height: 200px;
    }

    .profile-post {
        min-height: 105px;
        height: 200px;
    }

    .profile-picture {
        height: 150px;
        width: 150px;
    }

    .menu-bar-container .md-button {
        background: transparent !important;
    }

    .menu-bar-container .md-button {
        box-shadow: none;
    }

    .menu-bar-container md-icon > i {
        color: #8f8f8f;
    }

    .hub {
        max-height: 170px;
    }
}

