<md-dialog aria-label="Change profile picture">
    <form ng-cloak>
        <md-toolbar layout-padding layout  layout-align="center center">
            <img ng-src="{{imageUrl}}" class="thumb">
            <i class="material-icons" ng-show="profilePicture">trending_flat</i>
            <img ngf-src="profilePicture" class="thumb">
        </md-toolbar>
        <md-dialog-actions layout="row">
                <md-button class="button" ngf-select ng-model="profilePicture" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                           ngf-max-size="20MB" ng-hide="profilePicture"
                           ngf-min-height="100" ngf-resize="{width: 300, height: 300}">Choose Image
                </md-button>
                <md-button type="submit" ng-click="uploadImage(profilePicture)" ng-show="profilePicture">continue</md-button>

                <md-button type="submit" ng-click="closeDialog()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>