<div class="md-padding" layout="column" flex-xs flex-gt-xs="50"
     flex-offset-gt-xs="25" flex-gt-sm="40" flex-offset-gt-sm="30">
    <div flex-gt-sm="50" flex>

        <md-toolbar layout="row" class="md-primary md-hue-2">
            <div class="md-toolbar-tools" layout-align="end center">
                <div flex="50">
                    <h3>Messages</h3>
                </div>
                <div flex="50" layout layout-align="end center">
                    <md-button class="md-fab md-raised" layout-padding ng-href="#/newmessage">
                        <i class="material-icons">add</i></md-button>
                </div>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line conversation" ng-repeat="conversation in conversations"
                              ng-click="viewConversation(conversation._id)">
                    <img ng-src="{{conversation.users[1].profileImageRaw}}" class="user-thumb md-padding"
                         alt="conversation between {{conversation.users[1]}} and {{conversation.recipient.user}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ conversation.users[1].username }}</h3>
                        <h4>{{ conversation.messages[conversation.messages.length - 1].message.text }}</h4>
                        <p>{{ conversation.messages[conversation.messages.length - 1].createdAt | howLongAgo }}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>