<div layout="column" layout-padding ng-cloak id="profile" flex-gt-sm="50" flex-offset-gt-sm="25">
    <div flex="100">
        <p>
            <small><a href="#/profile/edit">edit profile</a></small>
        </p>
        <div layout layout-align="start center" class="md-whiteframe-3dp hub" layout-padding>
        <div flex="35" layout layout-align="center center" ng-cloak>
            <img src="{{user.profileImage}}" alt="profile picture" ng-click="openDialog(ev, user.profileImage)"
                 class="profile-picture" ng-show="user.profileImage">
        </div>
        <div flex="60">
            <div layout="column" layout-align="start start" layout-padding class="hub-info">
                <div>
                    <p class="username">{{user.userDisplayName}}</p>
                </div>
                <div layout>
                    <span class="sub">{{user.posts.length}} posts</span>
                    <md-divider></md-divider>
                    <span class="sub">{{user.followers.length}} followers</span>
                    <md-divider></md-divider>
                    <span class="sub">{{user.following.length}} following </span>
                </div>
                <p>{{user.bio}}</p>
            </div>
        </div>
    </div>
    </div>
    <div class="md-whiteframe-4dp">
        <div layout layout-wrap>
            <div ng-repeat="post in posts" class="profile-post" flex="33" ng-click="viewPost(post._id)" >
                <img ng-src="{{post.postImage}}" alt="post">
            </div>
        </div>
    </div>
</div>
