<div layout layout-align="center start" layout-padding ng-cloak layout-fill id="profile">
    <md-content flex="100" flex-gt-sm="50">
        <p><small><a href="#/profile/edit">edit profile</a></small></p>
        <div layout layout-align="start center" layout-padding class="md-whiteframe-3dp">
            <div flex="35" layout-align="start end" ng-cloak>
                <img src="{{user.profileImage}}" alt="profile picture" ng-click="openDialog(ev, user.profileImage)"
                     class="profile-picture" ng-show="user.profileImage">
            </div>
            <div flex="60">
                <div layout="column" layout-align="start center">
                    <div>
                        <p class="username">{{user.userDisplayName}}</p>

                    </div>
                    <div layout>
                        <span layout-padding>{{user.posts.length}} posts</span>
                        <span layout-padding>{{user.friends.length}} friends</span>
                    </div>
                    <p>{{user.bio}}</p>
                </div>
            </div>
        </div>
        <div>
            <md-virtual-repeat-container id="vertical-container">
                <div md-virtual-repeat="post in posts" md-on-demand class="repeated-item" flex>
                    {{post}}
                </div>
            </md-virtual-repeat-container>
        </div>
    </md-content>
</div>