<div class="md-padding" layout="column" flex-xs flex-gt-xs="50"
     flex-offset-gt-xs="25" flex-gt-sm="40" flex-offset-gt-sm="30">

    <div flex-xs flex-gt-xs="50" class="single-post">

        <md-card>
            <md-card-header layout>
                <md-card-avatar flex="20">
                    <img class="user-thumb" ng-src="{{ post.user.profileImageRaw }}" alt="user profile image"/>
                </md-card-avatar>
                <md-card-header-text layout flex="80">
                    <span class="md-title" flex="50">{{post.user.username}}</span>
                    <span class="md-subhead" flex="50"
                          ng-cloak>{{post.createdAt | howLongAgo}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{post.postImage}}" class="md-card-image" alt="post image">
            <div layout layout-align="start center">
                <span class="like" layout-padding>{{post.likes.length}} likes</span>
            </div>
            </md-card-icon-actions>
            </md-card-actions>
            <md-card-content>
                <p>
                    {{post.caption}}
                </p>
                <div layout="column">
                    <a class="load" ng-show="post.comments.length > 3"
                       ng-click="post.comment.showAll=!post.comment.showAll">Load All Comments</a>
                    <span ng-repeat="comment in post.comments | limitTo: 3" ng-init="post.comment.showAll = false"
                          ng-if="!post.comment.showAll" class="comment"><b>{{comment.user.username}}</b> {{comment.comment}}</span>
                    <span ng-repeat="comment in post.comments track by $index" ng-if="post.comment.showAll"
                          class="comment"><b>{{comment.user.username}}</b> {{comment.comment}}</span>
                </div>
                <md-divider layout-margin></md-divider>
                <form name="commentForm" ng-submit="addComment(post, post._id, $index)" layout>
                    <input type="text" placeholder="add a comment" ng-model="post.newComment.comment"
                           class="add-comment">
                    <md-button type="submit" class="md-accent md-hue-2 md-raised" hide-gt-sm>comment</md-button>
                </form>
            </md-card-content>
        </md-card>

    </div>
    <div class="menu-bar-container">
        <md-button aria-label="menu" class="md-fab md-primary md-hue-2" md-ink-ripple="false"
                   ng-click="showGridBottomSheet()">
            <md-icon><i class="material-icons">more_vert</i></md-icon>
        </md-button>
    </div>

</div>
